h1{
    background-color: blue;
color: aqua;
text-align: center;

}
h2{
    display: ;
}
body{
    background-color: rgb(152, 184, 172);
    h2{
        text-align: center;
    }
.submit{
    display: center;
}
}